* {
    padding: 0;
    margin: 0;
}

.container {

    width: 100%;
    max-width: 1280px;
    height: 1626px;
    background-color: rgb(249, 249, 243);
    margin: auto;
}

.nav-menu li {
    display: inline-block;
    margin-left: 200px;
    margin-top: 31.5px;
    color: red;
}

.photo {
    background-image: url("../image/image 1.png");
    display: block;
    width: 100%;
    max-width: 1280px;
    height: 789px;
    margin-top: 31.5px;

}

.content {
    width: 1280px;
    height: 650px;
}

.title {
    padding: 48px 253px 38px 253px;
    text-align: center;
}

.text1 {
    padding: 38px 67.5px 28px;
    line-height: 2;
    text-align: center;

}

.text2 {
    padding: 28px 67.5px 66px;
    line-height: 2;
    text-align: center;

}

.button {
    width: 191px;
    height: 51px;
    margin: 66px 544.5px 82px;
    background-color: red;

}

.footer-content {
    width: 462px;
    height: 39px;
    margin: 40px 105px 29px 713px;

}